
.navbar{
    width: 100%;
    background-color: aqua;
    display: flex;
    gap: 50px;
}

.heading > h1 {
    font-size: 20px;
}


.heading-2{
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  .heading-2> h3{
    font-size: 30px;
    padding-top: 2rem;
}

.about-me:hover{color:darkgoldenrod;border:2px ;}



a > h3 {
    color: black;
    text-decoration: none;
}

.about-me :hover {
   background-color:blanchedalmond;
   text-decoration: none;
}
.heading-2 >  a:hover {
    background-color:bisque;
    text-decoration: none;
 }

.waviy{
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 20px;
}
.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color:black;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy{
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
.container-fluid {
    margin-top: 30%;
    margin-bottom: 2px;
    padding-top: 70px;
    padding-bottom:50px;
  }
p{
    font-size: 16px;
    padding: -2rem;
}
.footer-text{
    color: lightseagreen;
}

.form-group > input, .form-group > textarea{
    width: 30%;
    padding: 5px 10px;
    margin-top: 5px;
    font-weight: 600;
  }
  
  .submitbutton{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 15px;
  }

.text2{
    margin-right:10rem ;
    margin-top: -25rem;
    color: lightseagreen;
}
.img_s{
  gap: 1px;
}
.ig_img{
  height: 40px;
  width: 40px;
  margin-bottom: 15px;
  margin-right: 2rem;
  cursor: pointer;
}
.lin_img{
  height: 40px;
  width: 40px;
 margin-bottom: 15px;
 margin-right: 15rem;
}

.botm{
  margin-bottom: 0;
  margin-top: 15rem;
  color: #fff;
}



@media screen and (min-width:320px){
  .navbar{
      width: 100%;
  }
  .heading > h1 {
      font-size: 20px;
  }
  .waviy > span{font-size: 17px;}
  .container-fluid {
    margin-top: 20%;
    padding-top: 70px;
    padding:5px;
    height: 1000px;
    display: inline-block;
  }
  .footer-text {
    font-size: 30px;
 text-align: center;
  }
  .form-group > input, .form-group > textarea{
    width: 100%;
    padding: 15px 10px;
    margin-top: 5px;
    font-weight: 600;
  }
  
  .container-2{
    display: inline;
  }
  .text2{
  font-size: 25px;
  margin-top: 5rem;
  }
  .ig_img {
    height: 40px;
  width: 40px;
  margin-right: -12rem;
  margin-top: -9rem;
  cursor: pointer;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  margin-right: -12rem;
  margin-top: -4rem;
  cursor: pointer;
  }
  .botm{
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
} 

@media screen and (min-width:375px){
  .navbar{
      width: 100%;
  }
  .heading > h1 {
      font-size: 20px;
  }
  .container-fluid {
    margin-top: 20%;
    padding-top: 70px;
    padding:5px;
    height: 1000px;
    display: inline-block;
  }
  .footer-text {
    font-size: 30px;
 text-align: center;
  }
  .form-group > input, .form-group > textarea{
    width: 100%;
    padding: 15px 10px;
    margin-top: 5px;
    font-weight: 600;
  }
  
  .container-2{
    display: inline;
  }
  .text2{
  font-size: 25px;
  /* padding-bottom: 2rem; */
  margin-top: 5rem;
  }
  .ig_img {
    height: 40px;
  width: 40px;
  margin-right: -6rem;
  margin-top: -2.5rem;
  cursor: pointer;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  margin-right: -17rem;
  margin-top: -5.5rem;
  cursor: pointer;
  }
  .botm{
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
} 


@media screen and (max-width:425px) {
    .navbar{
        width: 100%;
      }
      .heading > h1 {
        font-size: 20px;
      }
      .heading-2{
        position: absolute;
        right: 15px;
      }
      .about-me > h3 {
        font-size: 20px;
      }
      a > h3 {
        font-size: 20px;
      }
      .waviy > span{font-size: 25px;}
      .container-2{
        display: inline-block;
      }
}
@media screen and (min-width:425px) {
  .navbar{
      width: 100%;
    }
    .heading > h1 {
      font-size: 20px;
    }
    .heading-2{
      position: absolute;
      right: 15px;
    }
    .about-me > h3 {
      font-size: 20px;
    }
    a > h3 {
      font-size: 20px;
    }
    .waviy > span{font-size: 25px;}
    .container-2{
      display: inline-block;
    }
    .ig_img {
      height: 40px;
    width: 40px;
    margin-right: -10rem;
    margin-top: -3rem;
    cursor: pointer;
    }
    .lin_img {
      height: 40px;
    width: 40px;
    margin-right: -20rem;
    margin-top: -6rem;
    cursor: pointer;
    }
}


 @media screen and (max-width:768px) {
      .navbar{
        width: 100%;
      }

 } 

 @media screen and (min-width:768px) {
    .navbar{
      width: 100%;
    }
    .heading > h1 {
        font-size: 30px;
      }
    .heading-2{
      position: absolute;
      right: 15px;
    }
    .waviy > span{font-size: 40px;}
    .container-fluid {
     width: 100%;
     height: 650px;
     text-align: left;
    }
    .footer-text {
      font-size: 30px;
   text-align: left;
    }
    .form-group > input, .form-group > textarea{
      width: 50%;
      padding: 15px 10px;
      margin-top: 5px;
      font-weight: 600;
    }
    
    .text2{
         align-items: right;
         justify-content: right;
         text-align: right;
         right: 0px;
         position: absolute;
         margin-top: -20rem;
         margin-right: 3rem;
    }
    .ig_img {
      height: 40px;
    width: 40px;
    margin-left: 36rem;
    margin-top: -32rem;
    cursor: pointer;
    }
    .lin_img {
      height: 40px;
    width: 40px;
    margin-left: 36rem;
    margin-top: -35rem;
    cursor: pointer;
    }
    .botm{
      margin-bottom: 0;
      margin-top: 2rem;
      padding-bottom: 0;
    }
}

@media screen and (min-width:1115px) {
  .waviy > span{font-size: 40px;}
  .ig_img {
    height: 40px;
  width: 40px;
  margin-left: 37rem;
  margin-top: -30rem;
  cursor: pointer;
  align-items: right;
      justify-content: right;
      text-align: right;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  margin-left: 40rem;
  margin-top: -33rem;
  }
}

@media screen and (min-width:934px) {
  .ig_img {
    height: 40px;
  width: 40px;
  margin-left: 44rem;
  margin-top: -32rem;
  cursor: pointer;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  margin-left: 44rem;
  margin-top: -35rem;
  cursor: pointer;
  }
}


@media screen and (min-width:1024px) {
    .heading > h1{
        font-size: 40px;
     }
    .heading-2{
        right: 25px;
     }
     .about-me > h3 {
        font-size: 40px;
     }
      a > h3 {
        font-size: 40px;
     }
     .waviy > span{font-size: 45px;}
     .footer-text {
      font-size: 40px;
     }
     .text2{
      font-size: 40px;
      align-items: right;
      justify-content: right;
      text-align: right;
      right: 8rem;
      margin-top: -24rem;
      margin-right: 3rem;
 }
 .ig_img {
  height: 40px;
  width: 40px;
  align-items: right;
      justify-content: right;
      text-align: right;
      right: 10rem;
      margin-top: -24rem;
      margin-right: 9rem;
}
.lin_img {
  height: 40px;
width: 40px;
align-items: right;
justify-content: right;
right: 12rem;
text-align: right;
margin-top: -24rem;
margin-right: 2rem;
}
}

@media screen and (min-width:1024px) {
  .ig_img {
    height: 40px;
  width: 40px;
  margin-left: 45pc;
  margin-top: -37rem;
  cursor: pointer;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  right: 4rem;
  margin-left: 45pc;
  margin-top: -40rem;
  cursor: pointer;
  }
}
@media screen and (min-width:1440px) {
  .footer-text {
    font-size: 40px;
   }
   .waviy > span{font-size: 50px;}
   .ig_img {
    height: 40px;
  width: 40px;
  margin-left: 66rem;
  margin-top: -32rem;
  cursor: pointer;
  }
  .lin_img {
    height: 40px;
  width: 40px;
  margin-left: 66rem;
  margin-top: -35rem;
  cursor: pointer;
  }
}

@media screen and (min-width:2560px) {
  .main > .waviy{
      margin-top: 10%;
      padding-bottom: 2px;
  }
  .waviy > span{font-size: 200px;}
  .footer-text {
    font-size: 60px;
   }
   .container-fluid{
    margin-top: 50%;
    height: 50pc;
    padding-bottom: 0;
   }
   .text2{
    font-size: 70px;
    align-items: right;
    justify-content: right;
    text-align: right;
    right: 19rem;
    margin-top: -20rem;
    margin-right: 3rem;
}
  .ig_img {
    height: 60px;
  width: 60px;
  margin-left: 118rem;
  margin-top: -25rem;
  cursor: pointer;
  }
  .lin_img {
    height: 60px;
  width: 60px;
  margin-left: 123rem;
  margin-top: -28rem;
  cursor: pointer;
  }
}